*
  font-family: Arial, sans-serif

html,
body,
#root
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: 0

#root
  display: grid
  place-items: center

ul
  margin: 0
  padding: 0
  list-style: none

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal